@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

header{
    background: #000;
    border-bottom: 2px solid pink;
    margin: 0px 16px;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
}

#nav-bar,
.mobile-menu{
    display: flex;
    justify-content: space-between;
    padding: 0px 0px;
}

header #nav-bar ul li,
.mobile-menu ul li{
    position: relative;
    float: left;
}

header #nav-bar ul li a,
header .mobile-menu ul li a{
    font-size: 20px;
    display: block;
    padding: 20px;
    color: #fff;
    background: #000;
    text-decoration: none;
}

header #nav-bar ul li a:hover,
.mobile-menu ul li a:hover{
    color: pink;
}

header #nav-bar ul li ul,
.mobile-menu ul li ul{
    position: absolute;
    width: 200px;
    left: 0;
    display: none;
}

header #nav-bar ul li ul li,
.mobile-menu ul li ul li{
    width: 100%;
    border: 1px solid pink;
}

header #nav-bar ul li ul li ul,
.mobile-menu ul li ul li ul{
    left: 200px;
    top: 0;
}

header #nav-bar ul li:focus-within > ul,
header #nav-bar ul li:hover > ul,
.mobile-menu ul li:focus-within > ul,
.mobile-menu ul li:hover > ul{
    display: initial;
}


.logo{
    display: flex;
    align-items: center;
    margin-right: 30px;
    font-family: "Playfair Display", serif;
    font-size: 22px;
}

.logo h1{
    background-image: linear-gradient(rgb(108, 207, 240), pink);
    color: #000;
}

h2{
    color: #fff;
}



.nav-list,
.icones{
    display: flex;
    align-items: center;
}

.nav-list ul,
.icones ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-link,
.ico-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    margin: 0px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link:hover{
    color: pink;
}


.login-button button{
    border: none;
    background: linear-gradient(rgb(108, 207, 240), pink);
    padding: 0px 15px;
    border-radius: 100px;
    text-align: center;
    margin: 10px 0px;
}

.login-button button i{
    font-size: 18px;
    margin: 10px 10px;
}

.login-button button a{
    margin: 0px 10px 0px 0px;
}


.login-button button:hover{
    opacity: 0.8;
}

.login-button button a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* seção do smarthphone */

.section-div {
    animation: inicializar .7s forwards;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    padding: 60px;
    width: 100vw;
    height: 100vh;
    top: 0;
}

.section-div .secao {
    margin-top: 120px;
    align-self: start;
    display: grid;
    gap: 30px;
    margin-bottom: 120px;
}

.section-div h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    color: #f7f7f7;
}

h3, p{
    color: #cacaca;
    font-weight: lighter;
}


.secao button{
    border: none;
    background: linear-gradient(rgb(108, 207, 240), pink);
    border-radius: 100px;
    text-align: center;
    margin: 10px 0px;
    font-size: 28px;
    padding: 10px;
    width: 200px;
}

.secao button a{
    color: #000;
    text-decoration: none;
    font-weight: bolder;
}

.secao button:hover{
    opacity: 0.8;
}

.section-div img {
    max-width: 100%;
}

.descri{
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.descri p{
    font-size: 20px;
    margin-left: 20px;
}

.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .5s infinite;
}

.social-media-buttons {
    display: flex;
    gap: 18px;
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color: transparent;
    font-size: 1.25rem;
    border-radius: 10px;
    text-decoration: none;
    color: pink;
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow .3s ease;
}

.social-media-buttons a:hover {
    box-shadow: 0px 0px 12px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 739px){
    .section-div img{
        display: none;
    }
    .section-div{
        display: block;
    }
}

@media screen and (max-width: 972px){
    #nav-bar{
        padding: 1.5rem 4rem;
    }
    header .nav-list ul li,
    .mobile-menu ul li{
        width: 100%;
    }
    header .nav-list ul li ul,
    header .mobile-menu ul li ul{
        position: relative;
        width: 100%;
    }
    header .nav-list ul li ul li,
    header .mobile-menu ul li ul li{
        background: transparent;
    }
    header .nav-list ul li ul li ul {
        width: 100%;
        left: 0;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    .mobile-menu-icon{
        display: block;
    }
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin: 14px 0px;
    }
    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .mobile-menu .nav-item{
    display: block;
    padding-top: 1.2rem;
    }
    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button{
        width: 100%;
    }
    .open{
        display: block;
    }

}

@media screen and (max-width: 1070px){
    .icones{
        display: none;
    }
}